:root{
    --primary: orange;
    --secondary: white;
    --tertiary: green;
}

*{
    margin: 0;
    padding: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.card-gallery-header{
    position: sticky;
    top: 0;
    right: 0;
}

.card-gallery{
    padding: 30px;
}   

.card-container{
    width: 250px;
    background-color: var(--secondary);
    border:6px solid var(--primary);
    border-radius: 15px;
    margin: 0 auto;
    position: relative;
}

.card-image{
    width: 80%;
    margin: 0 auto;
    display: block;
}

.card-hp{
    font-size: medium;
    background-color: var(--secondary);
    padding: 2px;
    margin:15px;
    width: 80px;
    float: right;
    text-align: center;
    border-radius: 30px;
}

.card-hp-minitext{
    font-size: x-small;
    margin-right: 5px;
}

.card-header{
    background-color: var(--primary);
    border-bottom-left-radius: 30%;
    border-bottom-right-radius: 30%;
}

.card-name{
    text-align: center;
    margin: 10px;
}

.card-type-container{
    text-align: center;
}

.card-type{
    font-size: small;
    font-weight: 600;
    color:var(--secondary);
    padding: 0 10px;
    border-radius: 30px;
    display: inline-block;
}

.fire{
    background-color: var(--primary);
}

.flying{
    background-color: var(--tertiary);
}

    
.card-stats{
    width: 80%;
    margin: 15px auto;
}

.card-stats th{
    padding: 5px 25px;
}

.card-stats td{
    padding: 5px 10px;
    font-size: small;
}

.card-type-logo{
    height: 50px;
    position: absolute;
    top: -25px;
    left: -25px;
}

.logo-contact{
    height: 60px;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 15px;
    z-index: 1;
}