p{
    display: block;
    outline: red solid 3px ;
    /* outline-color: red;
    outline-width: 1px;
    outline-style: solid; */
}

a{
    display: inline;
    outline: black solid 3px;
}

button{
    display: inline;
}

/* decorado */
body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

article {
    width: 60%;
    background-color: burlywood;
    box-shadow: 3px;
    padding: 35px;
}