*{
    margin: 0;
    padding: 0;
    
}

body{
    min-height: 100vh;
    background: linear-gradient(to right, #7f7fd5, #86a8e7, #91eae4);
    position: relative;
}

.header-container{
    height: 100px;
    width: 100%;
    background: black;
    opacity: 25%;
}

.main-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        gap: 50px;
        padding: 25px;
}

.container{
    width: 150px;
    height: 200px;
    background: violet;
}