*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins';
}

.item{
    background: turquoise;
    width: 200px;
    height: 200px;
    margin: 20px;
    clip-path: circle(50% at top left);
    transition-property: clip-path;
    transition-duration: 2s;
    /* transition-timing-function: ;
    transition-delay: ;
    */
}

.item:hover{
    clip-path: circle(150% at top left);
}