.corazon{
    margin-top: auto;
    width: 200px;
    animation-name: latir;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    }
    @keyframes latir {
        0%{
            transform: scale(0)
        }
        30%{
            transform:scale3d(.5)
        }
        50%{
            transform: scale(1)
        }
        70%{
            transform: scale(1.5)
        }
        90%{
            transform: scale(1);
        }
        100%{
            transform: scale(.5);
        }
    }